body {
  font-family: Arial, sans-serif;
  background-color: white;
  margin: 0;
  padding: 0;
}

header {
  background-color: black;
  color: white;
}

h1 {
  margin: 0;
}



section {
  margin-bottom: 20px;
}

#right-image {
  /* float: right; */
  margin-left: 20px;
  margin-bottom: 20px;
}


footer {
  bottom: 0;
  width: 100%;
  background-color: darkgray;
  color: white;
  padding: 20px;
}

